.content {
  padding: 10px 30px 10px 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px;
  grid-gap: 5px;
}

.box {
  background-color: #f1c40f;
}

.box:hover {
  transform: scale(1.5);
  transition: transform .3s linear;
  margin: 0 10px 0 10px;
}

.previous {
  transform: translateX(-65px);
  transition: transform .3s linear;
}

.next {
  transform: translateX(65px);
  transition: transform .3s linear;
}