.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
  transition: background-color 0.5s linear;
  display: flex;
  justify-content: center;
  height: 70px;
}

.black {
  background-color: rgb(20, 20, 20);
}

.inner {
  display: flex;
  width: 100%;
  padding: 0 60px;
  justify-content: space-between;
}

.js-header__left {
  display: flex;
  align-items: center;
}

.js-header__logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.js-header__netfilx_logo {
  cursor: pointer;
  width: 118px;
}

.js-header__primary-navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.js-header__listItem {
  padding: 0 8px 0 8px;
  color: white;
  font-family: "Avenir Next";
  cursor: pointer;
}
.js-header__listItem:hover {
  transition: all 0.2s ease-in-out;
  color: gainsboro;
}

.js-header__secondary-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.js-header__navItem {
  padding: 0 10px 0 10px;
  color: white;
  font-family: "Avenir Next";
  cursor: pointer;
}
.navItem__profile {
  width: 30px;
}
